<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-slate-900 flex justify-start flex-col">
        <div class="px-40 py-10 text-white">
            <a class="my-10 px-5 bg-blue-600 p-4 rounded-lg hover:bg-blue-700 cursor-pointer inline-block" href="/">Go Back</a>
            <h1 class="text-4xl "><%= fileName %></h1>
            <p class="text-xl mt-8"><%= filedata  %></p>
            <br>
            <br>
            <a class="my-10  px-3 bg-yellow-500 rounded-lg hover:bg-yellow-600 couser-pointer p-4" href="/editdetails/<%=fileName  %>/<%=filedata  %>"> Update Details</a>
        </div>
    </div>
  </body>
</html>
